/* ANIMACIONES */
main {
  animation: fadeInPage 0.8s ease-in-out;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* GRID DE SERVICIOS */
.servicios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 10%;
  background-color: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  border: none;
}
.servicios-titulo {
  background: #2980B9;
  padding: 80px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicios-titulo h2 {
  color: white;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
}
.servicio-item {
  padding: 55px 45px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e4e4e4;
  transition: 0.3s ease-in-out;
}
.servicio-item.texto:hover {
  background-color: #f7f9fa;
}
.servicio-item h3 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #2c3e50;
}
.servicio-item p {
  font-size: 15.5px;
  line-height: 1.7;
  max-width: 100%;
  color: #34495e;
}
.servicio-item.imagen {
  padding: 0;
  border: none;
}
.servicio-item.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(85%);
  transition: 0.4s ease;
}
.servicio-item.imagen img:hover {
  filter: brightness(100%);
  transform: scale(1.03);
}
.servicio-item {
  opacity: 0;
  animation: fadeInUp 0.7s forwards ease;
}
